 /* Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset Rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "IBM Plex Mono", "Raleway";
}

/* INDEX: Navigation Bar */
.index-header {
    width: 1110px;
    height: 70px;
    margin: 0px 85px 630px 85px;
    background-color: #1B1B1B;
    border-radius: 0px 0px 8px 8px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navcontainer {
    display:flex;

    width:717px;
    height:18px;
}

.navcontainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
}

.navcontainer li {
    display: flex;
    list-style: none;
}

.navcontainer li a {
    text-decoration: none;

    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1%; 
    color: #9C9C9C; 

}

/* Social Media Icons */
.social-icons {
    display:flex; 
    justify-content: center;
    align-items:center;
    margin-top:26px;
    margin-left:992px;
    border: .5px solid yellow;
}

.social-icons img {
    cursor:pointer;
}


.hero-text {
    width: 538px;
    max-height: 247px;
    margin-top: 201px;
    margin-left:180px;
}

.hero-text h1 {
    width: 426px;
    height: 72px;
    padding: 10px 0px;
    gap: 10px;
    font-family: "Raleway";
    font-weight: 800;
    font-style: extrabold;
    font-size: 44px;
    line-height: 100%;
    color: #FFFFFF; 
}

.hero-text p {
    width:492px;
    height: 72px;
    gap:10px;
    font-weight: 400;
    font-style: regular;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;
}

/* CASE STUDIES */
.case-studies-main {
    width:897px;
    height: 1242px;
    margin: 80px 176px 80px 207px;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    background: white;
}

.container h2 {
    font-family: "Raleway";
    font-weight: 800;
    font-style: 800;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #080808;

    width:213px;
    height:40px;
    gap:10px;
    margin-bottom: 10px;
}

.container p {
    width: 570px;
    height: 72px;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;

    margin-bottom:60px;

}

/* CASE STUDIES: Sections */
.section {
    width: 892px;
    height: 300px;

    display:flex;
    margin-bottom: 80px;
}


.finTech {
    width: 892px;
    height: 300px;
}

.small-btn {
    margin-top: 27px;
    margin-bottom: 20px;

    width: 72px;
    height:24px;
    border-radius: 60px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1%;

    
    color: #FFA217;
    background-color: #FFF6E9;

    border:none;
}

.finTech h3 {
    font:"Raleway";
    font-weight: 800;
    font-style: 800px;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #080808; 

    gap: 10px;
    width:auto;
    height:28px;
    margin-bottom: 10px;
}

.finTech p {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;

    margin-bottom: 40px;
}

.btn {
    width:189.89285278320312;
    height: 38px;
    border-radius: 4px;
    padding: 10px 24px;
    border:none;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #FFFFFF; 
    background-color: #FFA217;
}

.btn span {
    width:5.892857074737549;
    height: 10px;
}

.finTech-two {
    display:grid;
    gap:1rem;
    grid-auto-flow:column;
}

img {
    width:445px;
    height:300px;
    object-fit: cover;
    overflow: hidden;
}

/* CASE STUDIES: Middle Section */
.edTech {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}

.edTech-two {
    margin-left: 31px;

}

/* TESTIMONIALS */
.testimonials {
    background-color: #080808;
}

.testimonials-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 80px;
}

.testimonials-header h2 {
    font-family: "Raleway";
    font-weight: 800;
    font-style: 800px;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;

    width: 209px;
    height: 40px;

    gap:10px;

    color: #080808; 
    margin-bottom: 10px; 
}

.testimonial-text p {
    width:570px;
    height:48px;

    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;

    margin-bottom: 60px;
}

/* TESTIMONIALS: Grid Layout */
.testimonials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 62px;
}


.testimonial-card {
    border: white solid 1px;
    border-radius: 10px;

    width:445px;
    height: 212px;

    margin-top: 238px;
    margin-left: 180px;
}


.testimonial-card p {
    color:#9C9C9C;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;

    width: 409px;
    height: 72px;

    margin-top:30px;
    margin-left:30px;
    margin-bottom:30px;
}

.client {
    display:flex;
    align-items:center;
}

.client img {
    width: 50px;
    height: 50px;

    margin-left:30px;
    margin-bottom:30px;
}

.client h3 {
    font-family: "Raleway";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #FFFFFF;

    margin: 15px 0px 14px 20px;

}
/* RECENT WORK: Header */
.recent-work {
    max-width: 1100px;
    margin: 150px auto;
    text-align: center;
}

.recent-header h2 {
    font-size: 36px;
    margin-bottom: 10px;

    color: #080808;
}

.recent-header p {
    max-width: auto;
    height: auto;
    margin: 0 auto 80px;
    line-height: 1.6;
    margin-bottom: 60px;
    color: #9C9C9C;
}

/* RECENT WORK: Project Grid */
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.project-card {
    text-align: left;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project-card p {
    color: #9C9C9C;
    line-height: 1.6;
    margin-bottom: 25px;
}

.project-btn {
    background: #3F8E00;
    border: #62BA1B 1px solid;
    box-shadow: 0px 8px 30px 0px #3F8E004D;
    padding: 14px 28px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 4px;
    
    cursor: pointer;

    transition: 0.3s;
}

.project-btn:hover {
    transform: scale(1.05);
}